.grid-container-about {
  width: 94%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 24px;
  margin: 16px;

  @media (min-width: $medium) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    margin-top: 12vw;
    row-gap: 80px;
  }

  @media (min-width: $large) {
    margin-top: 8vw;
  }
}

.hero-about {
  grid-area: 1 / span 12;
  margin-bottom: 4em;

  .hero-about-title {
    font-size: rem(32px);
    margin-bottom: 1em;
  }

  .hero-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  
    .hero-about-description {
      width: 60%;
      flex: 0 0 60%;
      font-size: rem(16px);
      line-height: rem(24px);
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  figure {
    width: 40vw;
    max-width: 300px;
    margin-bottom: 1em;
    img{
      width: 100%;
      max-width: 300px;
      border-radius: 16px;
      border-style: solid;
      border-color: rgb(48, 48, 48);
    }
  }
  .hero-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  a {
    width: 90%;
  }

  .button-primary {
    background-color: $primary-color;
    border-radius: 16px;
    padding: 12px 16px;
    color: $text-color;
    border: none;
    width: 100%;
    margin: 1em;
    font-size: rem(20px);
  }
  
.subtitle{
    font-size: 1.25rem;
    color: $text-color;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
.featured-title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}
.featured-desc{
    margin-bottom: 1em;
}
}
#hr-work{
  margin: 1em 0 3em 0;
}


@media (min-width: $medium) {    
    .hero-about{
      grid: 2 / span 10;
    }
    .hero-content {
      justify-content: space-between;
    }
    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .hero-about-title{
      margin-bottom: 1em;
    }
    .hero-about-description {
      margin: 2em 2em 0 1em;
    }
  }

  .work {
  grid-area: 2 / span 12;
    .section-title {
      font-size: rem(32px);
    }
    .work-container {
      grid-area: 3 / 10;
      justify-content: center;
      margin: 3em 0 3em 0;
    }
    figure {
      align-items: center;
    }
    .subtitle {
      font-size: rem(24px);
    }
    .featured-title {
      font-size: rem(24px);
      color: $primary-color;
    }
    .featured-desc {
      font-size: rem(16px);
      line-height: rem(24px);
    }
    a {
      text-decoration: underline;
      color: $white;
    }
  }



@media (min-width: $large) {
  .work {
    grid-area: 2 / span 12;
  }
  .work-container {
    grid-area: 4 / 10;
  }
}