.grid-container-contact{
    width: 94%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin: 16px auto;
    @media (min-width: $medium) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
        margin-top: 12vw;
        row-gap: 80px;
    }
    @media (min-width: $large) {
        margin-top: 8vw;
    }
  }
  
.animation{
    grid-column: 1 / span 12
}
.contact{
    grid-column: 1 / 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-title{
    font-size: rem(48px);
    color:$text-color;
    width: 100%;
    text-align: center;
}
.contact-links{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    li{
        list-style: none;
        margin: 24px;
    }
    a{
        color:$primary-color;
        font-size: rem(24px);
    }
}
.footer-contact{
    position: absolute;
    bottom: 0;
    display: block;
    height: 100px;
}

