footer{
    background-color: $primary-color;
    color: $text-color;
    height: 6em;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Lato', 'arial';
    img{
        width: 50%;
        height: 50%;
        position: relative;
        margin: .15em;
    }
    ul{
        display: flex;

        a{
            display: block;
            padding: 0 .25em;
            color: $text-color;
            text-decoration: none;
        }
    }
}