footer{
    background-color: $background-color;
    color: $text-color;
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', 'arial';
    img{
        width: 24px;
        height: auto;
        position: relative;
    }
    ul{
        display: flex;
        margin: 0;
        margin-top: 1em;
        list-style: none;
        a{
            display: block;
            padding: 0 .25em;
            color: $text-color;
            text-decoration: none;
        }
    }
    p{
        @include main-font;
        @include title-mobile;
        text-align: center;
        font-weight: 400;
        margin-top: 1em;
       }
    .contact-links{
        padding: 0;
        justify-content: center;
        margin-top: 1em;
    }
    hr{
        border: 1.6px solid $text-color;
        width: 100%;
        margin: 0 auto 0 auto;
        display: block;
        @media (min-width: $large){
            border: 1.6px solid $text-color;
        }
     }

    @media(min-width: $large){
        img{
            width: 50%;
            height: 50%;
        }
       
    }
}