header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        color: aquamarine;
        font-weight: bold;
    }
}
    ul{
        display: flex;

        a{
            display: block;
            padding: 0 1em;
            color: #fff;
            text-decoration: none;
            &.active{
                text-decoration: underline;
             }
        }
    }