body{
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100svh;
    @include main-font;
    &.no-scroll{
        overflow-y: hidden;
    }
    /*&.work{
        background-color: red;
    }
    &.contacts{
        background-color: yellow;
    }*/
}
main{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
hr{
    width: 100%;
    margin: 1em 0 0 0;
}



