.grid-container-project{
    width: 94%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 24px;
    margin: 16px auto;
    max-width: 1280px;
    @media (min-width: $medium) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
        margin-top: 12vw;
        row-gap: 80px;
    }
    @media (min-width: $large) {
        margin-top: 8vw;
    }
  }
  .section1{
    grid-column: 1 / span 4;
  }
  .section2{
    grid-column: 1 / span 4;
  }
  .section3{
    grid-column: 1 / span 4;
  }
  .section4{
    grid-column: 1 / span 4;
  }
  .section5{
    grid-column: 1 / span 4;
  }
.headline{
    margin:0 0 1em 0;
    font-size: rem(32px);
    font-weight: 600;
}
.title{
    font-size: rem(28px);
    margin:1em 0 1em 0;
    font-weight: 600;
}
.subtitle{
    color: $text-color;
    margin:2em 0 1em 0;
}
p{
    margin-bottom: 2em;
    line-height: rem(28px);
}
.bullet-point{
    display: grid;
    grid-column: 1 / span 2;
    li{
        color: $text-color;
        list-style: circle;
    }
}
.case-images{
    grid-column: 1 / span 4;
    width: 80vw;
    max-width: 1000px;
    justify-content: center;
    figcaption{
        color: $text-color;
    }
    img{
        width: 100%;
        border-radius: 8px;
        margin: 1em;
    }
}
.quote-container{
    grid-column: 1 / span 4;
    border-radius: 8px;
    border-style: solid;
    border-color: #4d4d4d;
    margin: 2em;
.quote{
    margin: 12px;
    cite{
        color: $text-color;
        font-weight: bold;
    }
}
}
@media (min-width:$medium) {
    .section1{
        grid-column: 1 / span 12;
        
      }
    .section2{
    grid-column: 1 / span 12;
    }
    .section3{
    grid-column: 1 / span 12;
    }
    .section4{
    grid-column: 1 / span 12;
    }
    .section5{
    grid-column: 1 / span 12;
    }
}
@media (min-width:$large) {
    .section1{
        grid-column: 1 / span 12;
        figure{
            display: flex;
            justify-content: center;
        }
    }
    .section2{
    grid-column: 1 / span 12;
    }
    .section3{
    grid-column: 1 / span 12;
    }
    .section4{
    grid-column: 1 / span 12;
    }
    .section5{
    grid-column: 1 / span 12;
    }
}