main{
    background: $background-color;
    color: white;
    display: grid;
    text-align: left;
    padding: 2em;
a {
    text-decoration: underline;
    color: white;
}
img{
    width: 50%;
    height: 50%;
    position: relative;
    border-radius: .5em;
}
    @media(min-width: $medium) {
        max-width: 100%;
        padding: 30px;
}
@media(min-width: $large) {
    max-width: 1130px;
}
}

