main{
    background: $background-color;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;


    @media(min-width: $medium) {
        max-width: 100%;
        padding: 30px;
}
@media(min-width: $large) {
    max-width: 1130px;
}
}

