@mixin main-font {
    font-family: 'Lato', 'Helvetica', 'sans-serif';
}

//MOBILE TEXT
@mixin textSmall-mobile{
    font-size: rem(12px);
}

@mixin bodyText-mobile{
    font-size: rem(14px);
    line-height: 1.4;
}

@mixin subtitle-mobile{
    font-size: rem(18px);
    font-weight: normal;
}


@mixin title-mobile{
    font-size: rem(24px);
    font-weight: normal;
}

@mixin titleName-mobile {
    font-size: rem(32px);
    font-weight: normal;
}

//DESKTOP TEXT


@mixin textSmall-desktop{
    font-size: rem(16px);
}

@mixin bodyText-desktop{
    font-size: rem(16px);
    line-height: 1.4;
}

@mixin subtitle-desktop{
    font-size: rem(24px);
    font-weight: normal;
}

@mixin title-desktop{
    font-size: rem(32px);
    font-weight: bold;
}

@mixin textNav-desktop{
    font-size: rem(24px);
}

@mixin titleName-desktop {
    font-size: rem(30px);
    font-weight: bold;
}










