@import
"partials/functions",
"partials/colors",
"partials/breakpoints",
"partials/mixins",
"partials/header", 
"partials/layout",
"partials/footer",
"partials/home",
"partials/about",
"partials/projects",
"partials/main",
"partials/animations",
url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

h1{
    @include titleName-mobile;
    color: $text-color;
}
h2{
    @include title-mobile;
    color: $text-color;
}
p{
    color: $text-color;
}